/* ==========================================================================

   @BOX

   ========================================================================== */

/**
 * The box object simply boxes off content. Extend with cosmetic styles in the
 * Components layer.
 *
 * 1. So we can apply the `.o-box` class to naturally-inline elements.
 */

.o-box {
  @include clearfix();
  display: block; /* [1] */
  padding: $spacing;

  > :last-child {
    margin-bottom: 0;
  }

}





/* Size variants
   ========================================================================== */

.o-box--flush {
  padding: 0;
}

.o-box--xs {
  padding: $spacing-xs;
}

.o-box--sm {
  padding: $spacing-sm;
}

.o-box--lg {
  padding: $spacing-lg;
}

.o-box--xl {
  padding: $spacing-xl;
}
