/* ==========================================================================

   @CONTAINER

   ========================================================================== */

/**
 * Page-level constraining element.
 */

$container-width-xs     : 600px  !default;
$container-width-s      : 800px  !default;
$container-width        : 1200px !default;
$container-width-l      : 1400px !default;
$container-width-xl     : 1600px !default;


.o-container {
  @include cf;
  //padding-right: $spacing;
  //padding-left:  $spacing;
  margin-right: auto;
  margin-left:  auto;
  max-width: $container-width;
}



/* Size variants.
   ========================================================================== */

.o-container--xs {
  max-width: $container-width-xs;
}

.o-container-s {
  max-width: $container-width-s;
}

.o-container-l {
  max-width: $container-width-l;
}

.o-container--xl {
  max-width: $container-width-xl;
}
