/* ==========================================================================

   @OPACITY UTILITIES

   ========================================================================== */

.u-opacity-100 { opacity: 1;    }
.u-opacity-90  { opacity: .9;   }
.u-opacity-80  { opacity: .8;   }
.u-opacity-70  { opacity: .7;   }
.u-opacity-60  { opacity: .6;   }
.u-opacity-50  { opacity: .5;   }
.u-opacity-40  { opacity: .4;   }
.u-opacity-30  { opacity: .3;   }
.u-opacity-20  { opacity: .2;   }
.u-opacity-10  { opacity: .1;   }
.u-opacity-05  { opacity: .05;  }
.u-opacity-025 { opacity: .025; }
.u-opacity-0   { opacity: 0;    }
