/* ==========================================================================

   @TEXT-ALIGN UTILITIES

   ========================================================================== */

/**
 * Simple helpers to align text in our markup.
 */

.u-text-left    {text-align: left;}
.u-text-center  {text-align: center;}
.u-text-right   {text-align: right;}



// Responsive text alignment
// ============================================================================

// Generate responsive text-align utilities?
$responsive-text-align: true !default;

// Sass map of breakpoints used to generate responsive helpers.
$text-align-breakpoints: $breakpoints !default;

// Separator for the breakpoints suffix in the class name, e.g.:
// <h2 class="u-text-center@mobile"></h2>
$text-align-breakpoint-separator: $breakpoint-separator !default;

// The below loop will generate us a suite of classes like:
//
//   .u-text-left@desktop {}
//   .u-text-center@mobile {}

@if ($responsive-text-align == true) {

  @each $bp-name, $bp-value in $text-align-breakpoints {

    @include mq($from: $bp-name) {

      .u-text-left#{$text-align-breakpoint-separator}#{$bp-name}   {text-align: left;}
      .u-text-center#{$text-align-breakpoint-separator}#{$bp-name} {text-align: center;}
      .u-text-right#{$text-align-breakpoint-separator}#{$bp-name}  {text-align: right;}

    }

  }

}
