// ============================================================================
//
// SPACING UNITS
//
// ============================================================================

// Spacing units scale.
//
// By default, the scale is derived from the root font size.
//
// Further reading:
// 1. http://csswizardry.com/2012/11/code-smells-in-css/#magic-numbers
// 2. https://spec.fm/specifics/8-pt-grid
// 3. https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62#.om5uxxacr


$spacing-xs       : 0.25rem;  // 4px
$spacing-s        : 0.5rem;   // 8px
$spacing          : 1rem;     // 16px
$spacing-m        : 1.5rem;   // 24px
$spacing-l        : 2rem;     // 32px
$spacing-xl       : 4rem;     // 64px
$spacing-xxl      : 6rem;     // 96px
