/* ==========================================================================

   @PAGE

   ========================================================================== */


/**
 * Simple page-level setup.
 */

html {
	font-size: ($font-size-base / 16px) * 1em; /* [1] */
	line-height: $line-height-copy; /* [1] */
	font-family: $font-family-primary; /* [1] */
	color: c('black'); /* [1] */
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  overflow-y: scroll;
}


/*
 * Cutom selection highlight.
 *
 * Important: these selection rule sets have to be separate.
 */

::-moz-selection {
    color: c('white'); /* [1] */
    background: c('accent'); /* [1] */
    text-shadow: none; /* [2] */
}

::selection {
    color: c('white'); /* [1] */
    background: c('accent'); /* [1] */
    text-shadow: none; /* [2] */
}
